.surah-selector {
  padding: 12px;
  font-size: 1rem;
  width: 25%;
  max-width: 300px;
  text-align: right;
  direction: rtl;
  background: #fff;
  border: 1px solid #667eea;
  border-radius: 10px;
}
